body {
  background-color: tomato;
  font-family: monospace;
}

#dino-pen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dino {
  border: 3px dotted blueviolet;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
